RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:ZaJuDa
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ZaJuDa:ERRORPAGEID


